<ul class="table-view">
  <li class="table-view-cell media">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <div class="media-body">
        Room for Rent
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      </div>
    <button class="btn btn-primary" {{action 'rent'}}>Rent it</button>
  </li>
  <li class="table-view-cell media">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <div class="media-body">
        Car for Rent
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      </div>
    <button class="btn btn-primary">Rent it</button>
  </li>
  <li class="table-view-cell media">
    
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <div class="media-body">
        Car for Rent
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      </div>
    <button class="btn btn-primary">Rent it</button>
  </li>
</ul>


{{outlet}}